* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #1b3f49
}

/* table {
    width: auto;
    padding: 5px;
    margin: 5px;
}

table, th, td {
    border-radius: 15px 3px;
    border: 1px solid #468499;
    padding: 15px;
    margin: 5px;
} */

.btn {
    border: 1px solid #a8d6c2;
    width: 15%;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: #f0ffff;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container-btn {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}