* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #1b3f49
}

.header {
    width: 100vw;
    height: 9vh;
    background-color: #dcefd6;
    padding: 5px;
}

.title {
    margin: 30px 0px 0px 150px;
}

table {
    width: auto;
    padding: 5px;
    margin: 5px;
}

table, th, td {
    border-radius: 15px 3px;
    border: 1px solid #468499;
    padding: 15px;
    margin: 5px;
}

.btn {
    font-size: 18px;
    border: none;
    width: 15%;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;


}


.btn:hover {
    background: rgba(18, 151, 18, 0.1);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 145px;
    cursor: pointer;
    transform: scale(1);
    transition-duration: 0.5s;
    /* border: solid red 2px */
}

.container {
    width: 100vw;
    height: 100vh;
}

.container-btn {
    max-width: 960px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    margin-left: 30vw;
}